[2017-12-16 11:30] pomle opened #6 "Manual full screen not handled"
Component does not register or let you leave fullscreen state that have been triggered manually.

[2018-04-11 13:47] SebastianStamm opened #7 "Unsafe Lifecycle warning in React >= 16.3"
React 16.3.0 declares the `componentWillReceiveProps` lifecycle method as unsafe and shows warnings when using React.StrictMode

[2018-04-17 13:59] KPSoftec opened #8 "Not able to set custom class on fullscreen"
inside index.jsx
<div
        className={className.join(" ")}
        ref={node => (this.node = node)}
        style={
          this.props.enabled ? { height: "100%", width: "100%" } : undefined
        }

        {this.props.children}
      </div>

change above to

<div
        className={className.join(this.props.className)}
        ref={node => (this.node = node)}
        style={
          thi

[2018-04-17 14:00] KPSoftec opened #9 "Not able to set custom class on fullscreen,"
inside index.jsx
<div
        className={className.join(" ")}
        ref={node => (this.node = node)}
        style={
          this.props.enabled ? { height: "100%", width: "100%" } : undefined
        }

        {this.props.children}
      </div>

change above to

<div
        className={className.join(this.props.className)}
        ref={node => (this.node = node)}
        style={
          thi

[2018-08-08 19:44] pomle commented on #7
Thank you, I will try to find time to fix this!

[2018-08-21 19:08] mreishus commented on #7
This should fix it.

Remove these lines:
[code]

Add these lines:
[code]

[2018-08-22 19:26] pomle commented on #9
Can yo

[2018-08-22 19:26] #8 closed

[2018-08-22 19:27] #9 closed

[2018-08-22 19:49] mreishus commented on #7
sure, I can, give me a sec

[2018-08-22 19:51] pomle commented on #7
@mreishus thanks, I'm already looking into it. Testing it right now.

[2018-08-22 19:53] mreishus commented on #7
Ok, oops.  I didn't make a pull request initially because I was using a customized version of this in my project, which also had different spacing.. but I should have just gone ahead and done it, my bad.

[2018-08-22 20:07] pomle commented on #7
@SebastianStamm, this has been fixed in `0.2.3`. Thanks for the report. Sorry for the slow response.

[2018-08-22 20:07] #7 closed

[2018-08-22 20:11] pomle commented on #6
I don't remember what this is.

[2018-08-22 20:11] #6 closed

[2018-10-22 15:18] belgattitude opened #12 "React must be a peerDependency"
@snakesilk

github seems down... and could not  fork an make a P/R

But since you support v16.x you should add react as a peerDependency in your package.json

As an example:

[code]

This will prevent issues when bundling (duplicates...)

Thanks

[2018-12-13 15:09] LarsLiden opened #13 "Back button takes user to non-enabled state"
I'm testing Fullscreen on a react app running on Android.  I capture the hardware back button for navigation purposes.  When Fullscreen is enabled the back button takes the user to the un-enabled state rather than to the previous screen.   Is there anyway to prevent this?

[code]

[2018-12-13 15:56] LarsLiden commented on #13
Note this works fine on a non-phone browser such as chrome, just not on the phone browser

[2019-01-08 14:25] KennyLindahl opened #14 "Exiting fullscreen via ESC causes error"
Setting component state while exiting fullscreen via ESC key causes error.
This only happens when pressing ESC key, not when clicking to exit fullscreen.
Setting state via onClick doesn't cause the error, just the onChange or window resize events.

**Steps to reproduce:**
1. Open fullscreen
2. Exit fullscreen by clicking ESC key
3. Observe the following error:
[code]

#### Example code 1 (onChange

[2019-01-22 15:28] vadzim opened #15 "Two Fullscreen elements on a page do not work"
If a page has two or more Fullscreen components then only the last one works.
[code]

[2019-01-22 16:01] vadzim opened #17 "No need to bind to this enterFullScreen/leaveFullScreen"
There is no need to bind to `this` the `enterFullScreen` and `leaveFullScreen` handlers.
They are always called from within the class via `this.`

[2019-01-22 16:45] vadzim commented on #14
@KennyLindahl The bug is in your code. You should save `isFullscreen` value to the component state within the `onChange` handler.
Like that:
[code]

[2019-01-23 08:02] KennyLindahl commented on #14
@vadzim It says it's an optional callback in the documentation. However i think this was used in my original code anyway.

[2019-01-23 08:23] vadzim commented on #14
@KennyLindahl I'm sorry, I'm not able to look at your original code, so I've answered keeping in mind your examples and I see that they are gonna raise an error. That callback is really optional, but it's up to the developer how to not try to switch to the full screen mode (calling `<Fullscreen enabled={true}`) after the user presses ESC.

[2019-01-23 08:55] KennyLindahl commented on #14
@vadzim I will test again with the `onChange={isFullscreen => this.setState({ isFullscreen })}` to be sure it eliminates the error and report back.

[2019-01-24 11:27] #14 closed, assigned to nobody

[2019-02-25 07:08] #12 closed

[2019-02-25 07:08] #15 closed

[2019-02-25 07:09] #17 closed

[2019-03-15 20:46] StarNeit opened #20 "how to trigger full screen mode after a screen orientation change"
I want my website to trigger full screen mode after a screen orientation change.
But, it says that it requires user gesture.

can you please let me know how to trigger full screen when a device orientation change?
thank you.

[2019-04-15 15:46] tolgaduzenli commented on #14
Same problem is happening for me. It might be because of my structure.
I want to have fullscreen button inside of fullscreen and toggling for fullscreen or exit.
But the issue is, while screen is full, press the 'ESC', getting below error;

Failed to execute 'requestFullscreen' on 'Element': API can only be initiated by a user gesture.

[code]

[2019-04-15 16:16] tolgaduzenli opened #21 "ESC causing error"
Same problem is happening for me. It might be because of my structure.
I want to have fullscreen button inside of fullscreen and toggling for fullscreen or exit.
But the issue is, while screen is full, press the 'ESC', getting below error;

Failed to execute 'requestFullscreen' on 'Element': API can only be initiated by a user gesture.

[code]

_Originally posted by @tolgaduzenli in https://github

[2019-05-10 00:02] LukePenkava opened #22 "Semi transparency at the top and bottom."
Hi,

 when my app goes fullscreen, there is slight semi transparency at the top and bottom making tabs and other things partially visible. Is there any way to make the fullscreen fully opaque ( ie no transparencey ) ?
 It is barely visible with white or black background color, but for example green or purple make it much more pronounced. The issue is very obvious with photo as background.

Thanks

[2019-05-19 23:39] rares-lupascu opened #23 "ios support?"
Hi everyone

I did not manage to get it working on any iOS browser (neither FF or Chrome)
if i remember correctly FF and Chrome should support the new fullscreen api on iOS ... safari i remember not

am i wrong?

thanks

[2019-05-27 00:24] jmandivarapu1 opened #24 "Need small clarification"
Hi,

I am using reactfullscreen and it works great....

My doubt is I apply react-full-screen on a page that has large content. After I go into the fullscreen mode the content is cutoff and there is no scroll to even scroll to view the entire content in the full-screen mode.

Is this expected behavior like full screen doesn't have a scroll view and it can fit only limited content?

If I want a scr

[2019-07-19 10:58] petrovicstefanrs commented on #21
Having the exact same issue. It would be great to know if this is due to the button controlling fullscreen being inside the Fullscreen component.

[2019-07-23 16:13] un0btanium opened #25 "How do I prevent the background from going black"
Hello,

wonderful  component! However, I dont like it that the background color automatically goes dark. How do I prevent this from happening?

[2019-07-23 16:23] un0btanium commented on #25
Nevermind, I guess I can just overwrite the background prop in the CSS element to the one I already use. Still, I dont like the fact that this is enabled on default.

[2019-07-23 16:23] #25 closed

[2019-07-24 07:57] Neeraj-Immanent commented on #23
Hi Rares-lupascu,

Experiencing the same on my end. Couldn't able to run this on Safari Browser. Did you find any solution for this?

Thanks

[2019-07-31 21:59] amonsosanz commented on #24
I'm experiencing the same issue. I have a large page and once I go full-screen there's no more vertical scroll.

[2019-08-01 10:35] amonsosanz commented on #24
I solved the problem by injecting this CSS:
[code]

[2019-08-13 11:14] hamed-musallam opened #26 "crash when press Esc or click on close button"
index.js:22 Failed to execute 'requestFullscreen' on 'Element': API can only be initiated by a user gesture.
requestFullscreen @ index.js:22
enterFullScreen @ index.js:122
handleProps @ index.js:108
componentDidUpdate @ index.js:98
commitLifeCycles @ react-dom.development.js:18124
commitAllLifeCycles @ react-dom.development.js:19668
callCallback @ react-dom.development.js:147
invokeGuardedCallback

[2019-10-08 09:52] matinfo commented on #21
If you use React `useState()`, aka: `const [ isFull, setIsFull ] = useState(false);`, change to `onChange={isFull => setIsFull(isFull)}`

[2019-12-23 09:13] ajbogh opened #27 "All onChange functions will be called for multiple Fullscreen elements when one is interacted with."
I have multiple video components on my webpage, each with a Fullscreen wrapper and an onChange event. Using the code example from the README, when one of these videos is clicked, all of the onChange events fire.

Another bug found that might be related to this is the Fullscreen component will create the fullscreen container and add the classes, however it doesn't resize the video or call the video

[2020-01-31 18:49] alexmac131 commented on #21
I too am having the same issue, I have nested full screens - so the outside works fine - and the inner full screen throws the non fatal error when I hit ESC

[2020-01-31 18:58] matinfo commented on #21
This work:
[code]

and footer look like this:

[code]

Hope that help.

[2020-02-08 03:55] Surangaup opened #28 "Is possible to Set full screen without pressing the button?"
I tried for it by setting the default value to **true** in **isFull** variable. But it's not working. it returns **

**
I tried more by changing the value after some time (setTimeout()). Has any idea? I want to run the application in full screen without user pressing **F11**.

[2020-02-19 08:33] Tsabary opened #29 "When I use it with an image, the image seems to always be set on cover no matter what I set"
First of all, great library. Thank you.

So I am trying to use it to display images, but no matter what I do I can get the image to be in a contain mode.
It either stretches, sticks to the top left or overflows. I just want it to be centered with its original ratio and showing fully.

Here's how I show the image:

[code]

And that my css:

[code]

[2020-03-11 18:06] alexmac131 commented on #21
@matinfo  this is great but for legacy reasons , I can't use react hooks, is there another means without hooks?

[2020-03-31 14:20] vianneyguesdon commented on #21
Issue still open. ESC causing a problem

[2020-03-31 14:21] matinfo commented on #21
Not for me: https://meqvm.csb.app/

[2020-03-31 15:16] djordjesavanovic commented on #21
I have the same problem. Even if I try to wrap it in a div and handle it with a keypress or keydown. This happens only in Chrome. In Safari, it's including extra elements in fullscreen.

[2020-04-16 19:26] redlive opened #30 "Unhandled Rejection (TypeError): fullscreen error"
When exiting fullscreen mode there is a JS error which complaints about `dispatch` hook.

![image](https://user-images.githubusercontent.com/5912122/79497838-3d3b0700-7fdd-11ea-844d-6b1191271715.png)

[2020-04-29 18:53] corneliushka commented on #29
Try "background-attachment: fixed" on your <img> when isFull.

[2020-05-05 09:25] pomle commented on #22
Hi! Can you supply a screen shot or reproduction case?

[2020-05-29 15:37] liran commented on #30
me too, same one.

[2020-05-29 18:52] liran commented on #30
I'm going to replace it with [`fullscreen-react`](https://www.npmjs.com/package/fullscreen-react).

[2020-05-29 19:17] omersname opened #31 "Uncaught (in promise) TypeError: fullscreen error"
Fullscreen error only when enabled while video playing..

![image](https://user-images.githubusercontent.com/37253325/83296847-200f7000-a1fa-11ea-8e86-1076c4e91920.png)
![image](https://user-images.githubusercontent.com/37253325/83296865-29004180-a1fa-11ea-8b8e-4b22587e8d36.png)
![image](https://user-images.githubusercontent.com/37253325/83296875-2e5d8c00-a1fa-11ea-884f-1ae07e54c51f.png)

[2020-06-03 07:06] pomle commented on #29
@Tsabary thank you for the report. Sorry for the late reply. Would you mind sharing the full code to reproduce this?

[2020-06-03 07:35] pomle commented on #31
It is not clear from the issue how you use it.

The error suggest you are not initiating full screen mode from a user gesture.

"Fullscreen must be enabled from a user action such as `onClick`".

Let me know if this solves your problem and if you think the documentation must be improved.

[2020-06-03 07:35] #31 closed

[2020-06-03 07:36] pomle commented on #30
Can you please share a reproduction case?

[2020-06-03 07:37] pomle commented on #28
That is not possible due to a security limitation in the browser. Sorry for that.

[2020-06-03 07:37] #28 closed

[2020-06-03 07:38] pomle commented on #26
The error is a security error.
"Failed to execute 'requestFullscreen' on 'Element': API can only be initiated by a user gesture."

The change to fullscreen must come from `onClick` or something the user intentionally did.

[2020-06-03 07:38] #26 closed

[2020-06-03 07:40] pomle commented on #27
Thank you for the report! Sorry for the very late reply. Will try to look into this soon.

[2020-06-03 07:42] pomle commented on #24
If you want your entire page fullscreen I think the browser full screen mode is better to use for most users.

@amonsosanz solution should work.

[2020-06-03 08:05] pomle commented on #20
This may not be possible depending on the browser.

[2020-06-03 08:06] #20 closed

[2020-06-22 12:03] pomle commented on #30
I have found the problem and working on a solution.

[2020-06-23 14:31] BoazKG93 opened #37 "Not working on mobile"
When i try and use it on mobile browsers (Safari, Chrome, Firefox) it won't work. On desktop it works fine.

[2020-07-01 09:05] qnts commented on #37
I also encountered the same behavior.

[2020-07-01 11:06] qnts commented on #37
requestFullscreen is not available on iOS mobile devices, on ipad it works however. For android devices this still works.

[2020-07-11 09:38] pomle commented on #27
A fix for the multiple callbacks is to save the state for each fullscreen element.

This may be needed but could be abstracted away.

[code]

[2020-07-11 09:49] pomle commented on #27
Here is a wrapped implementation that abstracts away with hooks and handle.
[code]

[2020-07-17 08:40] Nishchit14 commented on #30
Our app is heavily affecting with this error, Sentry shows this error very often. any ETA on this issue? I can help in PR if you show the reference in codebase @pomle :)

[2020-07-17 09:00] pomle commented on #30
@Nishchit14 can you try this?
https://github.com/snakesilk/react-fullscreen/issues/27#issuecomment-657026335

[2020-07-17 09:07] pomle commented on #27
@ajbogh I have published a prerelease of 0.3.x version.
https://www.npmjs.com/package/react-full-screen/v/0.3.1-0

It works only with React 16.8+ and uses hooks. Feel free to try this version out.

[2020-07-17 09:08] #24 closed

[2020-07-17 09:08] pomle commented on #24
Closing due to inactivity.

[2020-07-17 09:10] pomle commented on #21
So not sure what the common problem is here, but having multiple full screen elements connected to a single state will cause problems in this version.

I recommend everyone to try this:
https://github.com/snakesilk/react-fullscreen/issues/27#issuecomment-657026335

[2020-07-17 09:11] pomle commented on #29
Closing due to inactivity.

[2020-07-17 09:11] #29 closed

[2020-07-17 09:14] #22 closed

[2020-07-17 09:15] pomle commented on #13
@LarsLiden unfortunately I don't believer this has anything to do with this library.

[2020-07-17 09:15] #13 closed

[2020-07-18 06:13] Nishchit14 commented on #27
`Uncaught ReferenceError: useFullscreenHandle is not defined`

Using https://www.npmjs.com/package/react-full-screen/v/0.3.1-0

![image](https://user-images.githubusercontent.com/5078921/87846209-d8e55780-c8eb-11ea-928f-0a65e00a1637.png)

[2020-07-20 08:42] pomle commented on #27
@Nishchit14 it looks like you have not imported the hook or not using the exported name. Unfortunately there is a typo in the example it looks like. The import should be

[code]

Also make sure you use the hook according to the examples in the readme.

[code]

Sorry for the confusion and thanks for helping out testing.

[2020-07-21 06:04] ajbogh commented on #27
Thanks @pomle. I tested the code and it looks great. Here's a codesandbox that works based on the original problem.

https://codesandbox.io/s/prod-platform-micsb?file=/src/App.js

Since you aren't allowed to use fullscreen in the sandbox, you can grab the frame's URL and go directly to that page. Open the console to see the messages when an onChange event happens. Below is the link to frame for th

[2020-07-22 03:57] elStranger opened #40 "Importing & Class Made instead of Hooks"
The class made react not supported. It's not working anymore.

i can't import anymore with FullScreen.....i need to destruct now
import FullScreen from "react-full-screen";

When i hit escape it dosen't work properly

version 0.2.4 its more stable

[2020-07-23 06:00] Nishchit14 commented on #27
It's working now... Thanks, @pomle, and @ajbogh

[2020-07-26 23:07] jsevedge opened #42 "Unable to scroll in full screen mode"
Hey, this plugin is super useful first off.  Secondly, is it expected that overflow content cannot be scrolled when in full screen mode?  I know that not allowing scrolling used to be part of the full screen spec but that has since changed iirc.

[2020-07-28 07:39] pomle commented on #42
That is not expected and nothing this component should care about.

If you have a case to reproduce your problem and expectation I can have a look and see if I can figure something out.

A guess is that perhaps the element that is full screen will not scroll. In that case you should be able to put a scrollable element inside it to adress that.

[2020-07-28 07:41] pomle commented on #40
Sorry I don't understand your problem fully. Escape works in my tests.

On the destructuring topic, that is quite common to import like that, even encourages in some circles so I don't consider that a problem.

[2020-07-28 07:43] pomle commented on #27
Looks like everyone's problems have been solved for now. Closing.

[2020-07-28 07:43] #27 closed

[2020-07-28 07:44] pomle commented on #30
I think this is the same error as https://github.com/snakesilk/react-fullscreen/issues/27.

Closing this.

[2020-07-28 07:44] #30 closed

[2020-07-28 07:45] pomle commented on #21
This problem seems to have been solved by 0.3.0 and followed up here https://github.com/snakesilk/react-fullscreen/issues/27

[2020-07-28 07:45] #21 closed

[2020-08-13 13:13] pomle commented on #40
Closing due to inactivity

[2020-08-13 13:13] #40 closed

[2020-09-09 12:00] haziqali-2019 opened #44 "Using full screen in Material UI components"
HI, I am using material ui. There seems to be some issue with material ui select options such that the options do not show on full screen maybe because the options are rendered outside the container element in the dom. I know this is something related to material ui and not this library but I was wondering if anyone faced this issue and was able to resolve it?

[2020-09-17 07:08] codeyourweb opened #45 "Impossible to deploy in Class Component"
-- react-full-screen@0.3.1

Hi,

i follow your README but i've got when my React application start:
Uncaught Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3. You might ha

[2020-09-17 09:56] pomle commented on #45
The 0.3.x is only compatible with hooks which is only compatible with functional components.

If you must use class component you can use 0.2.5 https://www.npmjs.com/package/react-full-screen/v/0.2.5 but it has drawbacks which makes it hard to have many full screen elements in the same page.

[2020-09-17 09:56] #45 closed

[2020-09-17 09:57] pomle commented on #44
@haziqali-2019 can you share your implementation?

[2020-09-17 09:57] #42 closed

[2020-09-21 14:15] thalysonalexr commented on #44
i have a same problem :(

[2020-09-21 14:25] pomle commented on #44
@thalysonalexr, please share your solution so someone can help you figure out why the problem exists.

[2020-09-29 10:35] joncursi opened #46 "Issue Migrating to v0.3.x"
I'm on version `0.2.x` and trying to upgrade to version `0.3.x`, and not sure how to work with the `handle`.

In the README.md example, `Fullscreen` is inside the same component as the `button` used to invoke it.

[code]

Easy peasy.

However, more complex apps like mine have the `button` very far away from `Fullscreen` in terms of the react tree... not in the same component. So how do we share th

[2020-09-30 11:19] pomle commented on #46
Thank you for this interesting new problem space I have not thought about.

The first idea that comes to mind is passing the handle down to the Fullscreen element. If that becomes cumbersome, maybe you can build something to pass down the handle using [React Context](https://reactjs.org/docs/context.html)

Let me know if this solves the problem or if there are concerns that I may be able to help a

[2020-10-06 11:35] pomle commented on #46
Closing due to inactivitly.

[2020-10-06 11:35] #46 closed

[2020-10-10 16:57] abayo-luc commented on #44
To enable UI material popover/selector/menu in full screen, we have to append the popover to the full screen node, instead of being `document.body`.

Basically, change `container` prop to point to your full-screen component.

[2020-10-14 12:41] rologit85 commented on #23
Hi peeps,
Same here, any new development on this. Should I look for an alternative?

Regards,

[2020-10-14 14:12] pomle commented on #23
@rologit85, @Neeraj-Immanent, @rares-lupascu

Hello, I haven't been able to fully investigate this, but from what I can read around on the web this is not supported on iPhone iOS.

Looking at this package for example https://www.npmjs.com/package/screenfull it seems to suffer from the same limitations.

If any of you have time to investigate I will happily implement your findings.

[2020-10-20 08:00] yuschick opened #47 "Support for desktop and iPad Safari"
I really like the simplicity and cleanliness of this library over using Screenfull. Is there any chance of expanding this package to support Safari on desktop?

[2020-10-20 08:07] #47 closed

[2020-10-20 12:11] pomle commented on #44
@haziqali-2019, @thalysonalexr take a look at @abayo-luc. I think they got it.

Had a similar problem with `overflow: hidden` and Material UI.

[2020-11-14 10:38] pomle commented on #47
@yuschick, saw that you closed this issue but wanted to thank you for your praise anyway.
Hope you found what you were looking for. :)

[2020-11-16 09:13] Vasyl-Hnatyshyn commented on #44
<Menu container={() => document.getElementById('fullscreen-node')}> ....</Menu>
Hi, I need to do the same but with the Select component and it doesn't support 'container'

[2020-12-05 15:03] wrreee opened #48 "Unhandled Rejection (TypeError): fullscreen error"
![image](https://user-images.githubusercontent.com/13641261/101246317-964ddb80-3723-11eb-9c37-4952d02b571f.png)

Hello! is there way to prevent my app from crash in this case?
I had this error after few fast enter/exit fullscreen mode with hotkey combination.

[2020-12-07 22:42] ferceballos commented on #44
This seems to work just fine, but I have a bunch of these "popover" Material components in my project.

Is there any way to implement this change in all of the components at once instead of doing it one by one?

[2020-12-09 07:53] pomle commented on #44
@ferceballos, you probably have to update everywhere you use your menu but you could create your own Menu wrapper so you don't have to repeat this code. Not sure that is what you need.

[code]

[2020-12-09 07:58] pomle commented on #48
@wrreee, I can't see exactly what happened in your case, but it looks like it might have to do with the initiator of the full-screen toggle coming directly from a user event, like onClick.

For example, when you have the `handle.enter()`, inside `useEffect` it may get toggled for other reasons than the keyboard input for example.

Please share more error details if possible.

[2020-12-09 09:41] ChangYinHan commented on #48
hi pomle, I meet the same problem, here is my example.
[code]
And I call it by
[code]
![image](https://user-images.githubusercontent.com/75602404/101612447-9c0a3080-3a45-11eb-939b-5b0f08f7b374.png)

[2020-12-09 10:01] pomle commented on #48
@ChangYinHan, you see that is unfortunately not possible to do with the fullscreen API. Browsers do not allow applications to open full screen without it being initiated with a user action as that could be a security issue.

For example, a website would be able to open a webpage that looks like your operating system and trick a user to login to their bank for example.

[2020-12-09 10:07] wrreee commented on #48
@pomle yeah u right, but how can i catch this error?

[2020-12-09 10:10] pomle commented on #48
@wrreee, I don't know what is best but try wrapping `handle.enter()` in `try/catch`.

[2020-12-09 10:12] ChangYinHan commented on #48
I got it, we should get user permission before change the browser. thanks.

[2020-12-09 10:54] wrreee commented on #48
![image](https://user-images.githubusercontent.com/13641261/101619977-0494e580-3a25-11eb-9ae4-d84280a53754.png)
@pomle no(

[2020-12-09 12:41] pomle opened #49 "Make it possible to await enter and exit"
Enter fullscreen promise is let go in the facade's enter and exit methods, which mean you can not catch an error or await the event outside.

Return the promise out of the enter and exit functions.

[2020-12-13 13:12] blixit commented on #37
Hello,

As you can see in the picture, and as @qnts said, fscreen returns an empty vendor for iOS devices.

Is it possible to you guys to implement a try-catch pattern to catch this bug ?

![image](https://user-images.githubusercontent.com/6025710/102012729-69657e00-3d4c-11eb-8e96-e5aba3126a60.png)

[2020-12-14 09:25] pomle commented on #37
@blixit, thank you for the report.

What I had in mind was that I can expose the promise so that you can catch the error from there. That way the implementer can treat this error like they think is best.

For your case it would be

[code]

Let me know if this would work for you.

Thanks!

[2020-12-15 16:40] gtnx commented on #48
Yes `try/catch` on the `handle.enter` as the error is 'returned' by the promise `requestFullScreen`. Best optim imho would be a option in `useFullScreenHandle` no?

[2020-12-18 13:53] pomle commented on #48
@gtnx what would the option do?

[2020-12-18 14:04] gtnx commented on #48
a callback to be called if `requestFullScreen` fails. it could be used for error tracking or displaying an error message to the user

[2020-12-18 14:07] pomle commented on #48
@gtnx, when the promise is exposed the user can run `handle.enter().catch()`, so that won't be necessary.

[2020-12-18 14:13] gtnx commented on #48
Is the promise exposed?
It does not seem that way:
https://github.com/snakesilk/react-fullscreen/blob/2c0696a58b3368509c2453c3b389f0764360f2ef/src/index.tsx#L28-L36

[2020-12-18 14:38] pomle commented on #48
@gtnx that is what will change.

[2020-12-18 16:43] pomle commented on #48
This work is not tracked in https://github.com/snakesilk/react-fullscreen/issues/49

I have published pre-version of 0.3.2. It can be installed with `yarn add react-full-screen@0.3.2-0`.

Ping @gtnx, @wrreee, @ChangYinHan

[2021-01-27 08:25] blixit commented on #37
hi @pomle and sorry for the delay. Yeah this way could help. thanks !

[2021-01-27 12:02] pomle commented on #49
Tracked in https://github.com/snakesilk/react-fullscreen/issues/48

[2021-01-27 12:02] #49 closed

[2021-01-27 12:04] pomle commented on #37
@blixit cool. Check this issue for details on how to proceed https://github.com/snakesilk/react-fullscreen/issues/48

[2021-01-27 12:04] #37 closed

[2021-01-28 15:37] israelKusayev opened #57 "custom styles/ classname"
Can you add the ability to forward a classname/styles to the wrapper div?

Thanks

[2021-02-04 10:00] #23 closed

[2021-02-04 10:04] pomle commented on #57
Yes, let's do this.

Will attend https://github.com/snakesilk/react-fullscreen/pull/43 in a few days.

[2021-02-04 10:33] pomle commented on #48
This is now available in 1.0.0

[2021-02-04 10:33] #48 closed

[2021-02-04 10:33] pomle commented on #57
@israelKusayev I attended it now. Released 1.0.0 with class name injection support and Promise return https://github.com/snakesilk/react-fullscreen/issues/48

[2021-02-04 10:33] #57 closed

[2021-02-04 10:34] pomle commented on #44
This seems to be a known issue with Material UI.
The issue is pinned.
Closing.

[2021-02-04 10:34] #44 closed

[2021-03-06 07:37] MrShtrahman opened #60 "Support for react >= 17"
Hi,
will support for react 17.0.0 (or above) be considered in the future? (as a peer-dep)
Thanks 😄

[2021-03-22 15:21] pomle commented on #60
@MrShtrahman hey, thanks for pointing that out. Definitely. Will look into it first free time I get.

[2021-03-22 15:34] pomle commented on #60
@MrShtrahman from 0.1.2 React peer dep is defined as >= 16.8

Thank you

[2021-03-22 15:34] #60 closed

[2021-04-23 03:17] shadowgroundz opened #63 "Not working with modal"
If use modal with z-index, modal cannot appear when fullscreenmode

[2021-04-28 14:19] svargas-dev opened #64 "Not working on iOS Safari or iOS Chrome"
Works fine on desktop Chrome / Firefox but not on iOS Safari or iOS Chrome

[2021-04-28 20:38] svargas-dev commented on #64
Scrap that. I see the fullscreen API isn't supported by iPhones.

[2021-04-28 20:39] #64 closed

[2021-04-28 20:44] svargas-dev commented on #63
I had this issue too – I got around it using react portals – supported in Material UI (Mui) and Chakra UI. The fullscreen API raises the fullscreen element to the maximum z-index level so the portal _must_ be a child element of the fullscreen element or order to see it. I hope that helps.

[2021-05-11 08:18] svargas-dev commented on #63
Actually, I ended up using another solution — using fscreen directly on the body element

[2021-05-20 06:08] raulbarriga opened #65 "toggle fullscreen"
Is there a way to toggle to enter/exit fullscreen on click?

I tried `handle.enter ? handle.exit : handle.enter` `onClick` for an image but it didn't work.

Maybe provide a method for this. Thank you.

[2021-05-21 04:33] raulbarriga commented on #63
On another note, related to modals. I’m also using React portals with a custom modal which has a full screen button. My issue is that after I exit out of full screen and then exit the modal (which just sets it’s visible state to false), I find myself at the top of the webpage. For some reason, the full screen is doing this since exiting the modal without entering full screen just leaves me where I

[2021-05-24 20:55] DCStudioProjects opened #66 "I'm getting an error in my console"
I'm getting an error in my console.
Error:
Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

[2021-06-05 16:48] brookmg opened #67 "Getting Unhandled Rejection (TypeError): fullscreen error"
Uncaught (in promise) TypeError: fullscreen error
    at Object.requestFullscreen (fscreen.js:53)
    at index.tsx:35
    at HTMLUnknownElement.callCallback (react-dom.development.js:3945)
    at Object.invokeGuardedCallbackDev (react-dom.development.js:3994)
    at invokeGuardedCallback (react-dom.development.js:4056)
    at invokeGuardedCallbackAndCatchFirstError (react-dom.development.js:4070)

[2021-06-24 04:30] raulbarriga opened #68 ".enter and .exit resets a variable's state"
When I call .enter or .exit the state of one of my variables is reset to its default state. Any idea how to stop this?

Update: I fixed this issue using a useRef and a. useEffect to watch the previous state of the variable and use that to update my variable accordingly.

I think the reason for the state resetting might be since I'm using React's createPortal for a modal image carousel on which I u

[2021-07-13 17:54] kodonnell-heila commented on #67
I am getting this same error by doing the following:
`const Page = () => {
    const handle = useFullScreenHandle();
    useEffect(() => {
        handle.enter().then((voidResult) => console.log('enter full screen'));
    });

    return <FullScreen handle={handle}>Hello World</FullScreen>
};`

My desired outcome is that when this component is rendered (which is determined by URL routing) it goes

[2021-07-14 23:30] rodrigodh commented on #67
Im getting the same error when using cypress to open fullscreen.

[2021-07-14 23:32] rodrigodh commented on #67
Solved the issue, handle.enter() is a promise, try using async and await. Worked for me.

[2021-07-16 01:49] skoal2007 commented on #64
Hi Svargas, any work around for this issue. I also notice this package not working on iphone iOS.

[2021-07-16 06:24] lapanton opened #69 ""requestFullscreen is not a function" in safari iOS"
Hi! Guys, as i see is safari in ios you have a bug (((( Do you have any fix, or workaround for it?
![Screenshot 2021-07-16 at 09 23 59](https://user-images.githubusercontent.com/16897033/125902019-72c36117-f0be-4c6a-a261-bec0df6e79ab.png)

[2021-07-22 07:20] appasaheb4 opened #70 "full screen after scrolling not working"

[2021-07-28 07:16] s524797336 opened #71 "The return of useFullScreenHandle needs to be cached"
React hooks use handle as depends, when depends changed, the hooks will run again, this is not expected.
The return of useFullScreenHandle needs to be cached.

[2021-07-30 08:41] pomle commented on #68
@raulbarriga if this is still a problem, please supply example of code you are running and reopen.

[2021-07-30 08:41] #68 closed

[2021-07-30 08:42] pomle commented on #65
Try `handle.active ? handle.exit : handle.enter`

[2021-07-30 08:42] #65 closed

[2021-07-30 09:16] pomle commented on #70
Please provide example and reopen.

[2021-07-30 09:16] #70 closed

[2021-07-30 09:17] pomle commented on #67
@kodonnell-heila that is not allowed according to the fullscreen spec. You need to fire the enter from a user event.

[2021-07-30 09:17] #67 closed

[2021-07-30 09:17] pomle commented on #66
Please provide example and reopen.

[2021-07-30 09:17] #66 closed

[2021-07-30 09:19] pomle commented on #69
See https://github.com/snakesilk/react-fullscreen/issues/64

[2021-07-30 09:19] #69 closed

[2021-07-30 09:45] pomle commented on #71
Will close once published to NPM.

[2021-07-30 09:49] pomle commented on #71
This is now published with https://www.npmjs.com/package/react-full-screen/v/1.1.0

[2021-07-30 09:49] #71 closed

[2021-07-30 18:21] DCStudioProjects commented on #66
Hello, here is an example:
DEMO: https://logqz.csb.app/
CodeSandbox: https://codesandbox.io/s/gallant-hoover-logqz?file=/src/App.js

[2021-08-11 13:19] pomle commented on #66
Hello!

This is not an issue with this library. But you can access the DOM Node ref via the `node` prop on the handle as described here: https://github.com/snakesilk/react-fullscreen#types

[2021-12-16 23:03] Willian-A opened #77 "Unable to use Fullscreen when on other component"
I have the following code:

[code]

When i click at the 'fullscreen' button, the page just blinks at fullscreen and turns back to non fullscreen page.
Any idea how to solve this?

[2021-12-17 20:07] pomle commented on #77
I would suggest you do not define React components inside React components to start.

What happens if you do
[code]

[2021-12-21 09:12] savagecarol opened #78 "Scroller not working in fullscreen mode"

[2021-12-21 23:56] pomle commented on #78
@savagecarol what is a scroller?

[2021-12-22 06:03] savagecarol commented on #78
Side bar (scroll bar) when screen overflow at the roght side of the page

[2021-12-27 12:52] AntonOfTheWoods commented on #44
If anyone else comes here looking for this, then `<Select MenuProps={{ container: ref?.current }} ... />` seems to be one way to achieve this.

[2021-12-31 08:28] pomle commented on #78
@savagecarol, all right, I understand. Can you supply a screen shot or explanation of exactly what is going wrong? Can you see it still?

[2021-12-31 13:57] savagecarol commented on #78
Okay

[2022-01-12 16:53] SunD004 opened #79 "Crash after exit fullscreen | "Failed to execute 'removeChild' on 'Node'"
I have this crash sometimes when i exit the fullscreen mode

![Screenshot from 2022-01-12 17-51-59](https://user-images.githubusercontent.com/44288530/149185237-48533218-ecf4-4a84-ad0e-fb4e70f72d4a.png)

[2022-01-13 09:12] pomle commented on #79
@SunD004 that is unrelated. The code crashing it not part of this library. I suggest you look into if you have any toast lib that you are using that manipulates the DOM outside React.

[2022-01-13 09:12] #79 closed

[2022-01-13 09:13] #77 closed

[2022-01-13 09:56] SunD004 commented on #79
Yes effectively

For people who have this crash because full screen and react-toastify just place <ToastContainer/> in App.js and it will fix the crash of searching in DOM NotFound

`import { ToastContainer } from "react-toastify";

  <ToastContainer />
`

[2022-04-11 19:44] VikaCep opened #85 "Add support to React v18"
In order to use this library with React 18+, the children prop now [needs to be listed explicitly when defining props](https://github.com/snakesilk/react-fullscreen/blob/master/src/index.tsx#L17). Otherwise the `Fullscreen` component can't be used in this version.

[2022-04-12 00:49] hcharley commented on #85
Running up against this now as well. Will solve with a quick and dirty trick:

[code]

[2022-04-15 12:20] kachrist001 opened #86 "Shows black screen on full screen"
After executing the sample code, it showed black screen in full screen with all browsers.
It works fine with clicking F11 button.

  "dependencies": {
    "next": "12.1.5",
    "react": "18.0.0",
    "react-dom": "18.0.0",
    "react-full-screen": "^1.1.0"
  },
  "devDependencies": {
    "eslint": "8.13.0",
    "eslint-config-next": "12.1.5"
  }

[2022-04-18 20:06] israel-lpz commented on #85
The same for mi

![image](https://user-images.githubusercontent.com/74976929/163869863-dc7ee897-52e7-4105-a996-f9918f35c686.png)

[2022-04-19 08:48] pomle commented on #86
Thanks, I will look into this as soon as I have a chance.

[2022-04-19 08:49] pomle commented on #85
Thank you, I will look into this as soon as possible.

[2022-04-20 00:21] mhsu0020 commented on #86
I think the default background color for the overlay is black. You can that in your CSS

[code]

[2022-05-16 08:32] anixudh commented on #78
This worked.

[2022-05-16 08:33] anixudh commented on #86
Changing the background color to white in CSS fixed this issue

[2022-05-19 16:54] weynelucas commented on #85
To deal with `@typescript-eslint/no-explicit-any` ESLint rule:

[code]

[2022-05-30 14:33] #85 closed

[2022-07-21 20:39] codebycarlos commented on #63
Thanks so much for that @svargas-dev. I went for your solution and it worked. Basically, I created a react provider component to initialise my own useFullScreenHandle function using fscreen and then that makes it available to be used across the app. I actually did the implementation almost exactly as react-fullscreen's (https://github.com/snakesilk/react-fullscreen/blob/master/src/index.tsx) - onl

[2022-09-28 20:09] beandip004 commented on #37
Hi @pomle, do you plan to make this work for iPhone users?
(Sorry I'm a n00b, but I'm not sure why this is closed if it's still an issue)